body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377BA8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; margin-bottom: 0.5em;}
h2              { font-size: 1.2em; }
.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc; padding: 0.8em; background: white; }
.post        { list-style: none; margin: 0; padding: 0; }
.page form {padding-top: 1em;}
.post li     { margin: 0.8em 1.2em; }
.post li h2  { margin-left: -1em; }
.post ul 	{ border-bottom: 2px solid #eee; }}
.footer { width: 35em; border: 5px solid #ccc; padding: 0.8em; background: white; font-family: 'Georgia', serif; margin: 0;  }

table {
    font-family: Georgia, sans-serif;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
    width:100%;
    margin-bottom: 2em;
}

td {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    border-bottom: 2px solid #dddddd;
    text-align: left;
    padding-top: 0.5em;
}

tr:nth-child(even) {
    background-color: #dddddd;
}