{% extends "base.html" %}

{% block body %}

<script>
function hide(num) {
    var x = document.getElementById(num);
    var x_btn = document.getElementById('btn-' + num);
    if (x.style.display === 'none') {
        x.style.display = 'block';
        x_btn.innerHTML = 'Hide post message';
    } else {
        x.style.display = 'none';
        x_btn.innerHTML = 'Show post message';
    }
}

</script>

<h1>Laatste {{ posts|length }} posts</h1>
{% for post in posts %}
  <h2>{{ post.link }}</h2>
  <div class='post' id={{ post.type }}>
    <table>
      <tr>
        <th></th>
        <th>Insights</th>
        {% if day %}
        <th>Daily post average</th>
        {% endif %} 
        <th>Post</th>
        <th>Meta</th>
      </tr>
      <tr>
        <td>Impressions</td>
        <td><p>{{ post.impressions }}</p>
        </td>
        {% if day %}
        <td>{{ day.impressions }} ({{ '%.1f' % (100 * (post.impressions / day.impressions)) }}%)</td>
        {% endif %} 
        <td>{{ post.time_stamp }}</td>
        <td><a href="https://facebook.com/{{ post.id }}" target="_blank">View on Facebook</a></td>
      </tr>
      <tr>
        <td>Consumptions</td>
        <td><p>{{ post.consumptions }}</p></td>
        {% if day %}
        <td>{{ day.consumptions }} ({{ '%.1f' % (100 * (post.consumptions / day.consumptions)) }}%)</td>
        {% endif %} 
        <td><button onclick="hide({{ posts.index(post) }})" id='btn-{{ posts.index(post) }}' value='Show'>Show post message</button> 
          <div id='{{ posts.index(post) }}' style='display:none'>
              <i>{{ post.message }}</i>
          </td>
          <td><a href={{ post.link }}>View on NRC</a></td>
      </tr>
      <tr>
        <td>Shares</td>
        <td><p>{{ post.shares }}</p></td>  
        {% if day %}
        <td>{{ day.shares }} ({{ '%.1f' % (100 * (post.shares / day.shares if post.shares != None else 0)) }}%)</td>
        {% endif %} 
        <td>{{ post.creator }}</td>
        <td>{{ post.type }}</td>
      <tr>
        <td>Clicks</td>
        <td><p>{{ post.clicks }}</p></td>
        {% if day %}
        <td>{{ day.clicks }} ({{ '%.1f' % (100 * (post.clicks / day.clicks if post.clicks != None else 0)) }}%)</td>
        {% endif %} 
        <td id='week_day' data={{ post.week_day }}>{{ post.week_day }}</td>
        <td>{{ post.mod_time }}</td>
      </tr>

    </table>
  {% else %}
  <p>No results</p>
  {% endfor %}
  <div>
  <p><a href='\'>Terug</a></p>
</div>
</div>
{% endblock %}