{% extends "base.html" %}

{% block body %}

<script>
function hide(num) {
    var x = document.getElementById(num);
    var x_btn = document.getElementById('btn-' + num);
    if (x.style.display === 'none') {
        x.style.display = 'block';
        x_btn.innerHTML = 'Hide';
        x_btn.style.display = 'none';
    } else {
        x.style.display = 'none';
        x_btn.innerHTML = 'Show ';
    }
}
</script>

<h1>Laatste {{ posts|length }} posts</h1>
{% for post in posts %}
  <h2>{{ ' '.join(post.link.split('/')[-1].split('-')[:-2]) }}</h2>
  <div class='post' id={{ post.type }}>
    <table>
      <tr>
        <th></th>
        <th>Insights</th>
        <th>Metadata</th>
        <th>Post</th>
      </tr>
      <tr>
        <td>Impressions</td>
        <td>{{ post.impressions }}</td>
        <td>{{ post.datum }}</td>
        <td><a href="https://facebook.com/{{ post.id }}" target="_blank">View on Facebook</a></td>
      </tr>
      <tr>
        <td>Consumptions</td>
        <td>{{ post.consumptions }}</td>
        <td><button onclick="hide({{ posts.index(post) }})" id='btn-{{ posts.index(post) }}' value='Show'>Show post message</button> 
          <div id='{{ posts.index(post) }}' style='display:none'>
              <i>{{ post.message }}</i>
          </td>
          <td><a href={{ post.link }}>View on NRC</a></td>
      </tr>
      <tr>
        <td>Shares</td>
        <td>{{ post.shares }}</td>
        <td>{{ post.creator }}</td>
        <td>{{ post.type }}</td>
      <tr>
        <td>Clicks</td>
        <td>{{ post.clicks }}</td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <div>
  {% else %}
    No results
    <div class='footer'>
      <p><a href='\'>Terug</a></p>
    </div>

  {% endfor %}
</div>
{% endblock %}